body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#cabecera {
    background-color: #30A;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.30);
}

#cabecera #tagline {
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
}

#container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: left;
}

#post {
    margin: 30px 20px 0 20px;
}

h1 {
    font-family: 30px;
}

p {
    font-size: 20px;
}

#post p:last-child {
    color: red;
}